@define-color highlight #8839ef;
@define-color dark-9 #181926;
@define-color dark-8 #24273a;
@define-color dark-7 #363a4f;
@define-color dark-6 #494d64;
@define-color dark-5 #6e738d;
@define-color red #ed8796;
@define-color light-grey #cad3f5;
@define-color blue #1e66f5;

* {
    border: none;
    border-radius: 0;
    /* Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,200 */
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 17px;
    min-height: 0;
}

window#waybar {
    background-color: @dark-9;
    color: @light-grey;
    transition-property: background-color;
    transition-duration: .5s;
}

tooltip {
    background: @dark-9;
    border-radius: 5px;
}

tooltip label {
    color: @light-grey;
}

#workspaces button {
    /* padding: 3px; */
    /* margin: 10px 0px 10px 7px; */
    background: transparent;
    /* border-radius: 2px; */
    color: @light-grey;
}

#workspaces button:hover {
    background-color: @dark-8;
    border-bottom: 3px solid @highlight;
}

#workspaces button.urgent {
    background: @red;
}

#workspaces button.active {
    background-color: @dark-8;
    border-bottom: 3px solid @dark-6;
    color: @light-grey;
}

.modules-right {
    padding: 0px 10px;
}

#submap,
#bluetooth,
#memory,
#network,
#cpu,
#volume,
#keyboard-state,
#clock,
#tray,
#battery {
    border-radius: 8px;
    padding: 5px 8px;
    background: @dark-8;
}

#submap,
#bluetooth,
#memory,
#network,
#cpu,
#volume,
#keyboard-state,
#clock,
#tray,
#battery {
    margin: 7px 10px 7px 0px;
}

#media {
    color: @blue;
    margin: 7px 0px 7px 80px;
}

#custom-media-status {
    font-size: 13px;
    margin-right: 10px;
}

#custom-media-now-playing {
    margin-right: 10px;
}

#custom-media-time {
    color: @dark-5;
    font-size: 14px;
}

#submap {
    background: @red;
    color: @dark-9;
}

#pulseaudio {
    margin-right: 8px;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0;
}

#pulseaudio-slider slider {
    all: unset;
    min-height: 0;
    min-width: 0;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 75px;
    border-radius: 5px;
    background: @dark-7;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: @highlight;
}
